:root {
  --main-black-dark: #212529;
  --main-black-light: #403a34;
  --main-grey-darkest: #574e49;
  --main-grey-dark: #7d6f6c;
  --main-grey-medium: #bdb4ad;
  --main-grey-light: #dad8ce;
  --main-grey-lightest: #dee2e6;
  --main-white-dark: #f8f9fa;
  --main-white-light: #e9ecef;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.reveal,
.loadTop {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active,
.loadTop.active {
  transform: translateY(0);
  opacity: 1;
}

/* Title */
/**************************/
.title {
  color: var(--main-black-light);
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  font-size: Min(30px, 6vw);
  letter-spacing: 6;
  margin: 30px auto;
  text-align: center;
  position: relative;
  border: 5px solid var(--main-grey-dark);
  padding: 15px 30px;
  width: fit-content;
}

/* Parallax boxes */
/**************************/
.js-scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.items__inner {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 800px;
  background: #fff;
}
.items__layer .items__item {
  position: absolute;
  box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}
.items__layer .items__item:after {
  content: attr(data-title);
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}
.items__layer:nth-child(1) .items__item {
  top: 200px;
  left: 120px;
  width: 340px;
  height: 340px;
  background: var(--main-black-dark);
}
.items__layer:nth-child(1) .items__item:after {
  top: -23px;
  left: 0;
}
.items__layer:nth-child(2) .items__item {
  top: 440px;
  left: 400px;
  width: 240px;
  height: 200px;
  background: var(--main-black-light);
}
.items__layer:nth-child(2) .items__item:after {
  bottom: -23px;
  right: 0;
}
.items__layer:nth-child(3) .items__item {
  top: 400px;
  left: 160px;
  width: 300px;
  height: 300px;
  background: var(--main-grey-dark);
}
.items__layer:nth-child(3) .items__item:after {
  bottom: -23px;
  left: 0;
}
.items__layer:nth-child(4) .items__item {
  top: 100px;
  left: 400px;
  width: 350px;
  height: 480px;
  background: var(--main-grey-lightest);
}
.items__layer:nth-child(4) .items__item:after {
  top: -23px;
  right: 0;
}
.items__layer:nth-child(5) .items__item {
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
  background: var(--main-grey-medium);
}
.items__layer:nth-child(5) .items__item:after {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
}
/* Media Queries */
/**************************/
@media screen and (max-width: 800px) {
  .items__inner {
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg) scale(0.5) !important;
  }
  .js-scene {
    height: 60vh;
  }
}

@media screen and (max-width: 690px) {
  .items__inner {
    right: 4rem;
  }
}
