:root {
    --main-black-dark: #212529;
    --main-black-light: #403a34;
    --main-grey-darkest: #574e49;
    --main-grey-dark: #6C757D;
    --main-grey-medium: #ADB5BD;
    --main-grey-light: #CED4DA;
    --main-grey-lightest: #DEE2E6;
    --main-white-dark: #F8F9FA;
    --main-white-light: #E9ECEF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.reveal, .loadTop {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active, .loadTop.active {
    transform: translateY(0);
    opacity: 1;
}