/* Menu */
/**************************/
header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4vw;
  justify-content: space-between;
  padding: 50px 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("/public/img/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  align-items: center;
}

header.light {
  background-color: #eee;
}

header.dark {
  background-color: var(--main-black-dark);
}

header menu ul {
  width: auto;
}

body menu ul li {
  color: var(--main-black-light);
  list-style-type: none;
  line-height: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  text-transform: lowercase;
  transition: all 300ms ease-out;
}

body menu ul li:hover {
  color: var(--main-grey-medium);
  cursor: pointer;
}

/* Titles */
/**************************/

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  color: var(--main-white-light);
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: var(--main-black-dark);
}

h3 {
  color: var(--main-black-light);
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 500px;
  text-align: justify;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 767px) {
  header {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
