/* The first navigation */
/**************************/
.anchornav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.anchornav li {
    display: block;
}

.anchornav li::after {
    content: "";
    width: 1.3rem;
    display: block;
    height: 2px;
    background: black;
}

.anchornav li:last-child::after {
    display: none;
}

.anchornav a {
    display: block;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: Min(16px, 4vw);
    letter-spacing: 1.4px;
    color: inherit;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav a span {
    display: inline;
    padding: 0.5em 0 0;
    opacity: 0.3;
    letter-spacing: normal;
    text-transform: none;
    font-size: 12px;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav a:hover {
    color: var(--main-grey-medium);
}

.anchornav a:hover span {
    opacity: 1;
    color: var(--main-grey-lightest);
}

/* The different sections */
/**************************/
header {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
    align-content: center;
    padding: 0 50px 0 75px;
    background-color: var(--main-black-dark);
    color: var(--main-white-dark);
}

header * {
    user-select: none;
}

header .header-inner {
    height: 100%;
    max-width: 800px;
    margin: auto auto auto 0;
}

/* Typograpghy */
/**************************/
header h1 {
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    margin: 0 0 30px;
    line-height: 1;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .18em;
    font-size: Min(70px, 15vw);
    text-align: left;
    overflow: hidden;
    border-right: .15em solid var(--main-grey-dark);
    margin-bottom: 40px;
    animation:
        blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: var(--main-grey-dark);
    }
}

header .pre {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    opacity: 0.8;
    letter-spacing: 1.4px;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: inherit;
    transition: all 0.3s ease;
}

header a {
    text-decoration: none;
}

header .pre span {
    font-size: 0.9em;
    margin-right: 0.4em;
    opacity: 0.5;
}

header .pre:hover {
    opacity: 1;
}

header p {
    font-size: 0.75rem;
    line-height: 1.4;
}

header p a {
    font-weight: bold;
    color: inherit;
    transition: all 0.3s ease;
}

header p a:hover {
    border-bottom: 0.1875rem solid;
}

/* Media Queries */
/**************************/
@media (min-width: 30rem) {
    header p {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 450px) {
    header {
        padding: 0 15px 0 30px;
    }
}